<div class="about-container">
    <h3>MUDDY RAMADHAN | SOFTWARE DEVELOPER</h3>
    <p>
        Hey! coding has changed my world. It's not just about apps. Learning to code gave me <i>problem-solving skills</i> and a way to communicate with others on a technical level.
         I can also develop websites and use my coding skills to get a better job.
         And I learned it all at <strong>SoloLearn</strong> where they build your self-esteem and keep you motivated.
          Join me in this rewarding journey. You'll have fun, get help, and learn along the way!
    </p>
</div>
